{% extends 'toupiao/base.html' %}


{% block link %}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}


{% block script %}
<script src="/static/main.js"></script>

<script>
    $(function(){
        $("#myimg").click(function(){
            console.log('111');
<!--            这里src后面必须是逗号，否则会出错-->
            $("#myimg").attr('src','/verify/?t='+new Date().getTime())
        })


        $("#id_username").blur(function(){
            $.ajax({
                type:'get',
                url:"/checkusername/?username="+$("#id_username").val(),
                success:function(data){
                    console.log(data);
                    if(data['statecode']==0)
                    {
                        $("#errorinfo").text(data['error'])
                    }
                }
            })
        })
    })

</script>
{% endblock %}



{% block body %}
<div class="container">
    <h2>登录</h2>
    <h2>{{errormessage}}</h2>
    <h2>{{errormessage1}}</h2>
    <h2><a href="{% url 'toupiao:register' %}">注册</a></h2>
    <form action="{% url 'toupiao:login' %}" method="post">
        <p id="errorinfo"></p>
        {% csrf_token %}
        {{lf}}

        <label for="id_verify">验证码</label><img id="myimg" src="{% url 'toupiao:verify' %}" width='100' height='30' alt="">
        <input type="text" name="id_verify" id="id_verify">
        <input type="submit" value="提交">
    </form>
    <br>
    <br>
    <br>
</div>
{% endblock %}

